apiVersion: batch/v1
kind: Job
metadata:
  name: prisma-migrate
  namespace: yellow
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: 289179428758.dkr.ecr.ap-southeast-1.amazonaws.com/yellow-backend:latest
          imagePullPolicy: Always
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DATABASE_URL
          command: ["sh", "-lc"]
          args:
            - |
              ./node_modules/.bin/prisma migrate deploy
              node prisma/seed.js || true
