apiVersion: batch/v1
kind: Job
metadata:
  name: prisma-migrate
  namespace: yellow
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: 289179428758.dkr.ecr.ap-southeast-1.amazonaws.com/yellow-backend:314c14985c308ae39533d99ba6b774ec2e3634e6
          env:
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DATABASE_URL
          command: ["sh", "-lc"]
          args:
            - |
              pnpm prisma migrate deploy
              pnpm prisma db seed || true
