name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        app: [backend, frontend]

    steps:
    - uses: actions/checkout@v4

  # 1️⃣ Node эхэлж
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: pnpm

  # 2️⃣ pnpm дараа нь
    - uses: pnpm/action-setup@v4
      with:
        version: 9

  # 3️⃣ Install
    - run: pnpm install --frozen-lockfile

  # 4️⃣ Build
    - run: pnpm nx build ${{ matrix.app }} --configuration=production

